.add-edit-form {
  padding: 0 30px;
  text-align: center;

  &__element {
    align-items: center;
    margin-top: 7px;
  }

  .checkboxes {
    display: flex;
    justify-content: space-between;
  }
}

.add-button {
  padding: 0 20px;
  text-transform: uppercase;

  .plus {
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
  }
}
