.edit-profile {
  width: 350px;
  background: #fff;
  border: 1px solid #f1f1f1;

  &__element {
    margin-top: 14px;

    button {
      padding: 3px 35px;
      text-transform: uppercase;
    };
  }
}

.edit-profile-header {
  padding: 14px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 18px;
}

.edit-profile-body {
  padding: 0 14px 14px 14px;
}